modules/plugins/perftest/src/main/resources/perftest-scenario.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:perf="urn:xmlns:jboss.org:on-perftest"
           targetNamespace="urn:xmlns:jboss.org:on-perftest"
           elementFormDefault="qualified"
           jaxb:version="2.0"
           xmlns:jaxb="http://java.sun.com/xml/ns/jaxb">

   <xs:element name="scenario">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="resource" type="perf:resource" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:complexType name="resource">
      <xs:sequence>
         <xs:element ref="perf:resourceGenerator" minOccurs="1" maxOccurs="1"/>
         <xs:element ref="perf:pluginConfigurationGenerator" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="perf:measurementGenerator" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="perf:contentGenerator" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="type" use="required">
         <xs:annotation>
            <xs:documentation>
               Indicates what type of resource should be generated by this entry.
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>

   <!-- == Generators ========== -->

   <xs:element name="resourceGenerator" type="perf:resourceGenerator" abstract="true"/>
   <xs:complexType name="resourceGenerator"/>

   <xs:element name="simpleResourceGenerator" type="perf:simpleResourceGenerator"
               substitutionGroup="perf:resourceGenerator"/>
   <xs:complexType name="simpleResourceGenerator">
      <xs:complexContent>
         <xs:extension base="perf:resourceGenerator">
            <xs:attribute name="numberOfResources" type="xs:int"/>
            <xs:attribute name="property" type="xs:string"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:element name="measurementGenerator" type="perf:measurementGenerator" abstract="true"/>
   <xs:complexType name="measurementGenerator"/>

   <xs:element name="simpleNumericMeasurementGenerator" type="perf:simpleNumericMeasurementGenerator"
               substitutionGroup="perf:measurementGenerator"/>
   <xs:complexType name="simpleNumericMeasurementGenerator">
      <xs:complexContent>
         <xs:extension base="perf:measurementGenerator"/>
      </xs:complexContent>
   </xs:complexType>

   <xs:element name="OOBNumericMeasurementGenerator" type="perf:OOBNumericMeasurementGenerator"
               substitutionGroup="perf:measurementGenerator"/>
   <xs:complexType name="OOBNumericMeasurementGenerator">
      <xs:complexContent>
         <xs:extension base="perf:measurementGenerator"/>
      </xs:complexContent>
   </xs:complexType>


   <xs:element name="pluginConfigurationGenerator" type="perf:configurationGenerator" abstract="true"/>
   <xs:complexType name="configurationGenerator"/>

   <xs:element name="simpleConfigurationGenerator" type="perf:simpleConfigurationGenerator" substitutionGroup="perf:pluginConfigurationGenerator"/>
   <xs:complexType name="simpleConfigurationGenerator">
      <xs:complexContent>
         <xs:extension base="perf:configurationGenerator"/>
      </xs:complexContent>
   </xs:complexType>

   <xs:element name="contentGenerator" type="perf:contentGenerator" abstract="true"/>
   <xs:complexType name="contentGenerator">
      <xs:attribute name="packageType" use="required"/>
   </xs:complexType>

   <xs:element name="simpleContentGenerator" type="perf:simpleContentGenerator" substitutionGroup="perf:contentGenerator"/>
   <xs:complexType name="simpleContentGenerator">
      <xs:complexContent>
         <xs:extension base="perf:contentGenerator">
            <xs:attribute name="numberOfPackages" type="xs:int"/>
            <xs:attribute name="property" type="xs:string"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema>