modules/enterprise/server/plugins/rhnhosted/src/main/xsd/rhnhosted-dump.channels.xsd

<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="rhn-satellite">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="rhn-channels">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="rhn-channel">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="rhn-channel-parent-channel">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="rhn-null" type="xsd:string" />
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="rhn-channel-basedir" type="xsd:string" />
                    <xsd:element name="rhn-channel-name" type="xsd:string" />
                    <xsd:element name="rhn-channel-summary" type="xsd:string" />
                    <xsd:element name="rhn-channel-description" type="xsd:string" />
                    <xsd:element name="rhn-channel-gpg-key-url" type="xsd:string" />
                    <xsd:element name="rhn-channel-receiving-updates" type="xsd:string" />
                    <xsd:element name="rhn-channel-last-modified" type="xsd:int" />
                    <xsd:element name="rhn-channel-product-name" type="xsd:string" />
                    <xsd:element name="rhn-channel-product-version" type="xsd:int" />
                    <xsd:element name="rhn-channel-product-beta" type="xsd:string" />
                    <xsd:element name="rhn-channel-families">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="rhn-channel-family">
                            <xsd:complexType>
                              <xsd:attribute name="virt-sub-level-name" type="xsd:string" />
                              <xsd:attribute name="channel-labels" type="xsd:string" />
                              <xsd:attribute name="virt-sub-level-label" type="xsd:string" />
                              <xsd:attribute name="id" type="xsd:string" />
                              <xsd:attribute name="label" type="xsd:string" />
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="rhn-dists">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="rhn-dist">
                            <xsd:complexType>
                              <xsd:attribute name="release" type="xsd:string" />
                              <xsd:attribute name="channel-arch" type="xsd:string" />
                              <xsd:attribute name="os" type="xsd:string" />
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="source-packages">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element maxOccurs="unbounded" name="source-package">
                            <xsd:complexType>
                              <xsd:attribute name="last-modified" type="xsd:int" />
                              <xsd:attribute name="id" type="xsd:string" />
                              <xsd:attribute name="source-rpm" type="xsd:string" />
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="rhn-channel-errata">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element maxOccurs="unbounded" name="erratum">
                            <xsd:complexType>
                              <xsd:attribute name="last-modified" type="xsd:int" />
                              <xsd:attribute name="id" type="xsd:string" />
                              <xsd:attribute name="advisory-name" type="xsd:string" />
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="rhn-release" type="xsd:string" />
                  </xsd:sequence>
                  <xsd:attribute name="channel-arch" type="xsd:string" />
                  <xsd:attribute name="has-comps" type="xsd:boolean" />
                  <xsd:attribute name="channel-errata" type="xsd:string" />
                  <xsd:attribute name="kickstartable-trees" type="xsd:string" />
                  <xsd:attribute name="label" type="xsd:string" />
                  <xsd:attribute name="packages" type="xsd:string" />
                  <xsd:attribute name="channel-id" type="xsd:string" />
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="generation" type="xsd:int" />
      <xsd:attribute name="version" type="xsd:decimal" />
    </xsd:complexType>
  </xsd:element>
</xsd:schema>

