modules/enterprise/server/plugins/rhnhosted/src/main/xsd/sample-rhnhosted-dump-calls.xsd

<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="rhn-satellite" type="rhn-satelliteType" />
  <xsd:complexType name="rhn-satelliteType">
    <xsd:sequence>
      <xsd:element name="rhn-channels" type="rhn-channelsType" minOccurs="0" />
      <xsd:element name="rhn-packages-short" type="rhn-packages-shortType" minOccurs="0" />
    </xsd:sequence>
    <xsd:attribute name="generation" type="xsd:int" />
    <xsd:attribute name="version" type="xsd:decimal" />
  </xsd:complexType>
  <xsd:complexType name="rhn-packages-shortType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="rhn-package-short" type="rhn-package-shortType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="rhn-package-shortType">
    <xsd:attribute name="name" type="xsd:string" />
    <xsd:attribute name="package-size" type="xsd:int" />
    <xsd:attribute name="md5sum" type="xsd:string" />
    <xsd:attribute name="package-arch" type="xsd:string" />
    <xsd:attribute name="last-modified" type="xsd:int" />
    <xsd:attribute name="epoch" type="xsd:string" />
    <xsd:attribute name="version" type="xsd:string" />
    <xsd:attribute name="release" type="xsd:string" />
    <xsd:attribute name="id" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="rhn-channelsType">
    <xsd:sequence>
      <xsd:element name="rhn-channel" type="rhn-channelType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="rhn-channelType">
    <xsd:sequence>
      <xsd:element name="rhn-channel-parent-channel" type="rhn-channel-parent-channelType" />
      <xsd:element name="rhn-channel-basedir" type="xsd:string" />
      <xsd:element name="rhn-channel-name" type="xsd:string" />
      <xsd:element name="rhn-channel-summary" type="xsd:string" />
      <xsd:element name="rhn-channel-description" type="xsd:string" />
      <xsd:element name="rhn-channel-gpg-key-url" type="xsd:string" />
      <xsd:element name="rhn-channel-receiving-updates" type="xsd:string" />
      <xsd:element name="rhn-channel-last-modified" type="xsd:int" />
      <xsd:element name="rhn-channel-product-name" type="xsd:string" />
      <xsd:element name="rhn-channel-product-version" type="xsd:int" />
      <xsd:element name="rhn-channel-product-beta" type="xsd:string" />
      <xsd:element name="rhn-channel-families" type="rhn-channel-familiesType" />
      <xsd:element name="rhn-dists" type="rhn-distsType" />
      <xsd:element name="source-packages" type="source-packagesType" />
      <xsd:element name="rhn-channel-errata" type="rhn-channel-errataType" />
      <xsd:element name="rhn-release" type="xsd:string" />
    </xsd:sequence>
    <xsd:attribute name="channel-arch" type="xsd:string" />
    <xsd:attribute name="has-comps" type="xsd:boolean" />
    <xsd:attribute name="channel-errata" type="xsd:string" />
    <xsd:attribute name="kickstartable-trees" type="xsd:string" />
    <xsd:attribute name="label" type="xsd:string" />
    <xsd:attribute name="packages" type="xsd:string" />
    <xsd:attribute name="channel-id" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="rhn-channel-errataType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="erratum" type="erratumType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="erratumType">
    <xsd:attribute name="last-modified" type="xsd:int" />
    <xsd:attribute name="id" type="xsd:string" />
    <xsd:attribute name="advisory-name" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="source-packagesType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="source-package" type="source-packageType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="source-packageType">
    <xsd:attribute name="last-modified" type="xsd:int" />
    <xsd:attribute name="id" type="xsd:string" />
    <xsd:attribute name="source-rpm" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="rhn-distsType">
    <xsd:sequence>
      <xsd:element name="rhn-dist" type="rhn-distType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="rhn-distType">
    <xsd:attribute name="release" type="xsd:string" />
    <xsd:attribute name="channel-arch" type="xsd:string" />
    <xsd:attribute name="os" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="rhn-channel-familiesType">
    <xsd:sequence>
      <xsd:element name="rhn-channel-family" type="rhn-channel-familyType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="rhn-channel-familyType">
    <xsd:attribute name="virt-sub-level-name" type="xsd:string" />
    <xsd:attribute name="channel-labels" type="xsd:string" />
    <xsd:attribute name="virt-sub-level-label" type="xsd:string" />
    <xsd:attribute name="id" type="xsd:string" />
    <xsd:attribute name="label" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="rhn-channel-parent-channelType">
    <xsd:sequence>
      <xsd:element name="rhn-null" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
